.bodyDiv {
	background-color: #fff3d9;
}

.Navbar {
	/* background-color: blue; */
	height: 3em;
	margin-bottom: 2em;
	display: flex;
	justify-content: center;
}

.Logo {
	font-family: "Alfa Slab One";
	font-size: 50px;
	/* align-items: center; */
	color: #dc4731;
	display: flex;
	justify-content: center;
}

.registration {
	background-color: #dc4731;
	width: 25%;
	border-radius: 0.5rem;
	text-align: center;
	padding: 10px;
	position: relative;
	margin: auto;
	margin-bottom: 20px;
	justify-content: center;
	box-shadow: 0 0.188em 1.55em #6d675b;
}

/* .List {
	margin: auto;
	justify-content: center;
	display: flex;
	margin: 2px
} */



.singleList {
	/* display: flex; */
	position: absolute;
	justify-content: center;
	margin-left: 500px;
}

.Login {
	background-color: #fff3d9;
	padding: 10px;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem 0.5rem;
}

.Item {
	width: 50%;
	height: 50px;
	background-color: red;
	color: white;
	margin: 10px;
}

/* This is code for sign in page needs to be edited */

/* form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	padding-bottom: 1rem;
} */

.login {
	border: transparent;
	background-color: transparent;
	font-size: 1em;
	color: blue;
	text-decoration: underline;
}


input[type="text"],
input[type="password"],
input[type="username"],
button,
textarea {
	font-size: 18px;
	padding: 0.1rem;
	border-radius: 0.5rem;
}

/* label,
button {
	margin-top: 1rem;
} */

button {
	padding: 0.5rem;
}

.instructions {
	font-size: 0.75rem;
	border-radius: 0.5rem;
	background: #000;
	color: #fff;
	padding: 0.25rem;
	position: relative;
	bottom: -10px;
}

.instructions>svg {
	margin-right: 0.25rem;
}

.offscreen {
	position: absolute;
	left: -9999px;
}

.hide {
	display: none;
}

.valid {
	color: limegreen;
	margin-left: 0.25rem;
}

.invalid {
	color: red;
	margin-left: 0.25rem;
}

.errmsg {
	background-color: lightpink;
	color: firebrick;
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
}

.line {
	display: inline-block;
}