.bodyDiv {
	background-color: aquamarine;
}

.Navbar {
	/* background-color: blue; */
	height: 2em;
	/* border: 0.5em; */
	/* border-color: black; */
	/* border-style: solid; */
	display: flex;
	margin-bottom: 2em;
	width: 100%;
	position: ;
}

.Logo {
	font-family: 'Alfa Slab One';
	font-size: 30px;
	text-align: center;
}

.registration {
	background-color: brown;
}

.Login {
	background-color: green;
	padding: 10px;
	

}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh; 
	padding: 1rem 0.5rem;
  }

.Item {
	width: 50%;
	height: 50px;
	background-color: red;
	color: white;
	margin: 10px;
}



/* This is code for sign in page needs to be edited */


form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="username"],
button,
textarea {
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}